<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments::head">
</head>
<body>
<div class="layui-main">
    <table lay-even class="layui-table layui-hide" lay-filter="mytable" lay-data="{id: 'idmytable'}">
        <thead>
        <tr>
            <th lay-data="{field:'id', width:50}">ID</th>
            <th lay-data="{field:'nickname', width:120}">用户名</th>
            <th lay-data="{field:'attendanceTime', width:140,sort: true}">时间</th>
            <th lay-data="{field:'userip', width:140}">IP</th>
            <th lay-data="{field:'remark', width:140}">备注</th>
            <th lay-data="{field:'describtion', width:140}">状态</th>
            <th lay-data="{field:'edits',minWidth: 280,toolbar: '#barDemo'}">操作</th>
        </tr>
        </thead>
        <!--/*@thymesVar id="punchclock" type="com.tsvico.pojo.PunchClock"*/-->
        <tbody th:each="punchclock : ${punchClocks}">
        <tr>
            <td th:text="${punchclock.id}"></td>
            <td th:text="${punchclock.nickname}"></td>
            <td th:text="${punchclock.attendanceTime}"></td>
            <td th:text="${punchclock.userip}"></td>
            <td th:text="${punchclock.remark}"></td>
            <td th:text="${punchclock.punch_inTime<9?'已打卡':'未打卡'}"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button type="button" class="layui-btn layui-btn-sm" lay-event="addNewDate">
                <i class="layui-icon">&#xe608;</i> 添加
            </button>
        </div>
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn  layui-btn-primary layui-btn-xs" lay-event="edit">
            <i class="layui-icon layui-icon-edit"></i>修改
        </a>&nbsp;&nbsp;
        <a class="layui-btn  layui-btn-danger layui-btn-xs" lay-event="del">
            <i class="layui-icon layui-icon-delete"></i>删除
        </a>
    </script>
</div>


<div class="layui-row" id="zq_formpopbox"  style="display:none;position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;"`>
    <div class="layui-col-md11">
        <form id="zq_form" class="layui-form" action="" style="margin-top: 20px;align:center;">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">id</label>
                    <div class="layui-input-inline">
                        <input type="number" required lay-verify="required" placeholder="请输入ID,不可重复" name="position_id"
                               class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" required lay-verify="required" name="name" placeholder="请输入名称"
                               class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">层级</label>
                <div class="layui-input-inline">
                    <input type="number" required name="level" lay-verify="required" placeholder="请输入层级" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-inline">
                    <textarea name="describtion" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>

        </form>
    </div>
</div>

<div th:replace="admin/_fragments::script"></div>
<script src="/js/common.js"></script>
<script>
    layui.use(['table','laydate'], function () {
        var table = layui.table;

        //转换静态表格
        var tabIns = table.init('mytable', {
            limit: 10 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
            , page: true
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , id: 'tableId'
            //支持所有基础参数
        });

        // laydate.render({
        //     elem: '#time_poped'
        //     //指定元素
        //     ,type: 'date'
        //     ,format: 'yyyy-MM-dd'
        //     ,value: new Date()
        //     ,trigger: 'click'
        // });

        //头工具栏事件
        table.on('toolbar(mytable)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'addNewDate':
                    //添加行
                    var oldData = table.cache['idmytable'];
                    var lastId = oldData[oldData.length-1].id;
                    var newRow = {id: parseInt(lastId)+1,name: '请填写名称', level: null, describtion: '请填写描述'};
                    oldData.push(newRow);
                    console.log(oldData);
                    table.reload('idmytable', {
                        data: oldData
                    });
                    zq_form(newRow,'新增', 500, 500);
                    break;
            }
        });
        //监听工具条
        table.on('tool(mytable)', function (obj) {
            var data = obj.data;
            console.log(data);
            delete data.edits; //删除object多余项
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url: "/admin/page/position/Delete",
                        type: "POST",
                        dataType: 'json',
                        data: {position_id:data.position_id},
                        success: function (msg) {
                            var returnCode = msg.returnCode;
                            if (returnCode === 200) {
                                //删除这一行
                                obj.del();
                                //关闭弹框
                                layer.close(index);
                                layer.msg("删除成功", {icon: 6});
                            } else {
                                layer.close(index);
                                layer.msg("删除失败", {icon: 5});
                            }
                        },error:function (e) {
                            layer.close(index);
                            layer.msg("删除失败", {icon: 5});
                        }
                    });
                    return false;
                });
            } else if (obj.event === 'edit') {
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    console.debug(data);
                    zq_form(data,'编辑', 500, 500);
                    //数据回显
                    /*$("#zq_form").setForm({id: data.id, name: data.name, telephone: data.telephone, email: data.email,
                        address: data.address
                    });*/
                }
            }
        });


    });

    var index;//layer.open 打开窗口后的索引，通过layer.close(index)的方法可关闭
    function zq_form(data,title, w, h) {
        if (title == null || title === '') {title = false;}
        if (w == null || w === '') {w = ($(window).width() * 0.9);}
        if (h == null || h === '') {
            h = ($(window).height() - 50);
        }
        var layer = layui.layer;
        index = layer.open({  //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
            type: 1,
            title: title,
            area: ['30%', '60%'],//类型：String/Array，默认：'auto'  只有在宽高都定义的时候才不会自适应
            // area: [w+'px', h +'px'],
            fix: false, //不固定
            maxmin: true,//开启最大化最小化按钮
            shadeClose: true,//点击阴影处可关闭
            shade: 0.4,//背景灰度
            content: $('#zq_formpopbox'),
            success: function(layero, index){
                $('#zq_form').setForm(data,layero);
                if (!isNaN(data.position_id)) {
                    console.log(true);
                    $('input[name="position_id"]').addClass("layui-disabled");
                    $('input[name="position_id"]').attr("readonly", "readonly");
                    //layero.find("input[name='"+data.menu_id+"']").attr("disabled","disabled");
                    //layero.find("[name='"+data.menu_id+"']").val("3123131")
                } else {
                    $('input[name="position_id"]').removeClass("layui-disabled");
                    $('input[name="position_id"]').removeAttr("readonly")
                }
            },
            btnAlign: 'c',
            btn: ['确定', '取消'],
            yes: function (index, layero) {
                //var t = $(layero.find("#zq_form"));
                var data = getOpenFrom(layero,'#zq_form');
                console.log(data);
                $.ajax({
                    url: "/admin/page/position/update",
                    type: "POST",
                    dataType: 'json',
                    data: data,
                    success: function (msg) {
                        var returnCode = msg.returnCode;
                        if (returnCode === 200) {
                            layer.close(index);
                            layer.msg("更新成功", {icon: 6});
                            window.location.reload();
                        } else {
                            layer.close(index);
                            layer.msg("更新失败", {icon: 5});
                        }
                    }
                });
            }
        });
    }
</script>
</body>
</html>